.fancy-context-menu ul {
	list-style: none;
	padding: 8px;
	margin: 0;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 20px rgba(64, 64, 64, 0.15);
}

.fancy-context-menu li {
	position: relative;
}

.fancy-context-menu a,
.fancy-context-menu a:visited {
	display: block;
	white-space: nowrap;
	padding: 8px;
	border: 1px solid transparent;
	background: transparent;
	border-radius: 8px;
	color: #333;
	text-decoration: none;
}

.fancy-context-menu a img,
.fancy-context-menu a svg {
	vertical-align: middle;
}

.fancy-context-menu a:hover {
	background: #f1f3f7;
}
.fancy-context-menu ul li hr {
	border: 0;
	height: 1px;
	background: #333;
}

/* Sub menues */
.fancy-context-menu li>ul {
	position: absolute;
	top: 0;
	/* left: 100%; */
	display: none;
}
.fancy-context-menu li:hover>ul {
	display: block;
}