section.fancy-showcase {
	display: flex;
	gap: 1em;
	overflow-x: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: x proximity;
}
section.fancy-showcase>article {
	flex-direction: column !important;
	scroll-snap-align: start;
	position: relative;
	height: 24rem;
	min-width: 20rem;
	overflow: hidden;
	width: 20rem;
	padding: 0;
}
@media (max-width: 1024px) {
	section.fancy-showcase > article {
		height: 18rem;
		min-width: 15rem;
		width: 15rem;
		font-size: 80%;
	}
}
section.fancy-showcase>article :is(a,a:hover,a:active) {
	text-decoration: none;
	color: inherit;
}
section.fancy-showcase>article img {
	aspect-ratio: 4/5;
	height: 100%;
	object-fit: cover;
	width: 100%;
	transition: transform .4s;
}
section.fancy-showcase>article.fancy-showcase-text img {
	height: 66%;
}
section.fancy-showcase>article:hover img {
	transform: scale(1.05);
}
section.fancy-showcase>article :is(h1,h2,h3,h4,h5,h6) {
	color: #fff;
	left: 50%;
	position: absolute;
	text-align: center;
	text-shadow: 0 4px 50px rgba(0,0,0,.6);
	top: 50%;
	transform: translate(-50%,-50%);
}
section.fancy-showcase>article.fancy-showcase-text :is(h1,h2,h3,h4,h5,h6) {
	top: 33%;
}
section.fancy-showcase article.fancy-showcase-text article {
	height: 33%;
	overflow-y: auto;
}
section.fancy-showcase article.fancy-showcase-text article :is(h1,h2,h3,h4,h5,h6) {
	position: static !important;
	color: inherit;
	transform: none;
	text-align: left;
}
section.fancy-showcase .fancy-showcase-like {
	position: absolute;
	z-index: 100;
	top: 0;
	right: 0;
	cursor: pointer;
	display: inline-block;
	width: 2.5em;
	height: 2.5em;
	background: center no-repeat url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNS4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxhZ2VyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iODAwcHgiIGhlaWdodD0iODAwcHgiIHZpZXdCb3g9IjAgMCA4MDAgODAwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4MDAgODAwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGQ9Ik00MDAuNzk1LDc1Mi4zMWMtMy45MzcsMC03Ljg3MS0wLjkyOS0xMS40NjUtMi43ODRjLTM1Ljc2OC0xOC40NTktNzIuOTU2LTQxLjIyMi0xMTcuMDMzLTcxLjYzNQ0KCUMxNjcuMzM1LDYwNS40Nyw5Ni45NjIsNTM2LjMzMyw1MC44Myw0NjAuMzEzQzIwLjg0Niw0MTAuOTAyLDIuMzczLDM0OS4wNzEsMC4xNDYsMjkwLjY3Mw0KCWMtMi42MDQtNjguMzIxLDE2LjExOC0xMjcuMzAzLDU0LjE0My0xNzAuNTdjNDIuMDY1LTQ3Ljg2MSwxMDIuNzA3LTc1LjMxLDE2Ni4zNzctNzUuMzFjNjcuMDcxLDAsMTM0LjMyNSwzNy44ODUsMTc5LjkwNSwxMDEuMzQzDQoJbDAuMDAxLDBDNDQ2LjE1NSw4Mi42NzgsNTEzLjQxLDQ0Ljc5Myw1ODAuNDc4LDQ0Ljc5M2M2Ny40NjEsMCwxMjMuOTc0LDI1LjYyOSwxNjMuNDMsNzQuMTE4DQoJYzMxLjU0OSwzOC43NzMsNTEuMTc0LDkxLjE2Nyw1NS4yNTgsMTQ3LjUzMWMzLjc3Niw1Mi4wOTItNS4wNjMsMTA0LjU2Mi0yNS41NjMsMTUxLjczOA0KCWMtMzMuMDQ1LDc2LjAzNi05Mi4yNSwxNDguMzQ5LTE3NS45NzIsMjE0LjkyOWMtNjguNDUyLDU0LjQzOC0xMzguODEyLDkzLjQ2OC0xODUuNzgxLDExNi42MjQNCglDNDA4LjM2Myw3NTEuNDUxLDQwNC41NzgsNzUyLjMxLDQwMC43OTUsNzUyLjMxeiIvPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTIyMC42NjYsOTQuNzkzYy00OS4yOTMsMC05Ni4yNDcsMjEuMjU2LTEyOC44Miw1OC4zMTdjLTY0LjkxNCw3My44NjMtNDcuNTU4LDIwMC4wNDMsMS43MjksMjgxLjI2NA0KCWM0Mi4zNDcsNjkuNzgyLDEwOC4xNiwxMzQuMDg0LDIwNy4xMTcsMjAyLjM2MmMzNy42NTUsMjUuOTgxLDY5Ljg5Miw0Ni4wNTEsMTAwLjM5MSw2Mi40NjUNCgljODMuOTk0LTQyLjc4NywyNTkuOTUtMTQ3LjQ0MywzMjYuNjYyLTMwMC45NDljMTcuMjkzLTM5Ljc5NywyNC43NDUtODQuMTI3LDIxLjU1MS0xMjguMTk3DQoJYy0yLjEyMS0yOS4yNjgtMjAuMjI3LTE3NS4yNjMtMTY4LjgxOC0xNzUuMjYzYy01MS4wMDksMC0xMDMuMDgyLDMwLjA5OC0xMzkuMjk2LDgwLjUxM2wtMjAuMzA1LDI4LjI2Nw0KCWMtNC42OTYsNi41MzktMTIuMjU0LDEwLjQxNS0yMC4zMDUsMTAuNDE1Yy04LjA1LDAtMTUuNjA3LTMuODc2LTIwLjMwNC0xMC40MTVsLTIwLjMwNi0yOC4yNjcNCglDMzIzLjc1LDEyNC44OTEsMjcxLjY3Nyw5NC43OTMsMjIwLjY2Niw5NC43OTN6Ii8+DQo8L3N2Zz4NCg==');
	background-size: 66%;
}
section.fancy-showcase .fancy-showcase-like-active {
	background: center no-repeat url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNS4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxhZ2VyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iODAwcHgiIGhlaWdodD0iODAwcHgiIHZpZXdCb3g9IjAgMCA4MDAgODAwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4MDAgODAwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGQ9Ik01ODAuNDc5LDQ0Ljc5M2MtNzQuMTQsMC0xMzkuNzE5LDQ1LjM5Ni0xNzkuOTA0LDEwMS4zNDNDMzYwLjM4Niw5MC4xODksMjk0LjgwOCw0NC43OTMsMjIwLjY2Niw0NC43OTMNCgljLTYzLjMyMiwwLTEyNC41NzUsMjcuNzQ3LTE2Ni4zNzYsNzUuMzA5Yy04MC40NzMsOTEuNTY3LTYyLjc4OCwyNDIuNDQ0LTMuNDYxLDM0MC4yMTENCgljNTMuOTQsODguODgzLDEzNi43NDEsMTU5LjExNiwyMjEuNDY4LDIxNy41NzZjNDAuOTM4LDI4LjI0Niw4My42Myw1NS4yMzQsMTI4LjI3Niw3Ny4zMTYNCgljMTQ1LjU2OC02OS41NDYsMzA3LjE4NS0xODUuNTE1LDM3My4wMy0zMzcuMDI0YzIwLjcxLTQ3LjY2MywyOS4yNTQtMTAwLjgyNywyNS41NjItMTUxLjc0Mw0KCUM3OTAuNzEsMTQ5LjczOCw3MTguMDMzLDQ0Ljc5Myw1ODAuNDc5LDQ0Ljc5M3oiLz4NCjwvc3ZnPg0K');
	background-size: 66%;
}